.wrapperMain {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0;
}

.wrapperArr {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 760px;
    justify-content: center;
    padding: 10px 0 0 0;
}